{{ define "main" }}
  <div class="hx:mx-auto hx:flex hextra-max-page-width">
    {{ if not .IsHome }}
      {{ partial "home-sidebar.html" . }}
    {{ end }}
    <main
      id="content"
      class="hextra-home-main {{ if .IsHome }}hextra-home-main-solo{{ end }} hx:w-full hx:break-words hx:min-h-[calc(100vh-var(--hextra-navbar-height))] hx:min-w-0 hx:pb-16 hx:pt-16 hx:md:pt-20 hx:pl-[max(env(safe-area-inset-left),1.5rem)] hx:pr-[max(env(safe-area-inset-right),1.5rem)]"
    >
      {{ partial "custom/page-begin.html" . }}
      <div class="hextra-home-content hx:flex hx:flex-col hx:items-start">
        {{ partial "custom/content-begin.html" . }}
        {{ .Content }}
        {{ partial "custom/content-end.html" . }}
      </div>
      {{ partial "custom/page-end.html" . }}
    </main>
  </div>
{{ end }}
